@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Semi+Expanded:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import "tailwindcss";

@font-face {
  font-family: "Share Bold OSF";
  src: url("../assets/fonts/Share-BoldOSF.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}

body {
  user-select: none;
}

.section-title {
  text-align: center;
  margin: 20px 0;
}

.section-description {
  font-family: 'Roboto', sans-serif;
  color: #4b5563;
  font-size: 18px;
}

.section-title-text {
  font-family: "Encode Sans Semi Expanded", sans-serif;
  font-size: 1.875rem;
  font-weight: bold;
  color: #a39655;
}