@import "tailwindcss";

/* Container principal */
.main-container {
  max-width: 72rem;
  margin: 0 auto;
  background-color: #ffffff;
}

.section-description {
  margin-left: 80px;
  margin-right: 80px;
}

/* Seção de turismo */
.tourist-section {
  padding-top: 2.5rem;
  background-color: #FFF;
  margin-bottom: 2rem;
}

/* Contêiner centralizado da seção de turismo */
.tourist-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* Media Queries para dispositivos móveis */
@media (max-width: 768px) {
  /* Container principal */
  .main-container {
    padding: 1rem; /* Adiciona padding para melhorar o espaçamento interno */
  }

  /* Descrição da seção */
  .section-description {
    margin-left: 0;
    margin-right: 0;
    text-align: center; /* Centraliza o texto */
    font-size: 0.875rem; /* Ajusta o tamanho da fonte */
    line-height: 1.5; /* Melhora a legibilidade */
  }

  /* Seção de turismo */
  .tourist-section {
    padding-top: 1.5rem; /* Reduz o espaçamento superior */
    margin-bottom: 1.5rem; /* Reduz o espaçamento inferior */
  }

  /* Contêiner centralizado da seção de turismo */
  .tourist-container {
    flex-direction: column; /* Empilha os itens verticalmente */
    gap: 1rem; /* Adiciona espaçamento entre os itens */
  }
}


