/* Rodapé */
.footer {
  background-color: #a39655;
  color: #ffffff;
  padding: 2.5rem;
}

/* Centro do rodapé */
.footer-center {
  width: 50%;
}

/* Contêiner do rodapé */
.footer-container {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

/* Logo no rodapé */
.footer-logo img {
  width: 300px;
}

/* Texto no rodapé */
.footer-text {
  margin-top: 1.8rem;
  margin-bottom: 0.5rem;
}

/* Links no rodapé */
.footer-links {
  margin-top: 0.5rem;
}

/* Link individual no rodapé */
.footer-link {
  color: #ffffff;
  text-decoration: none;
  transition: color 0.3s;
}

.footer-link:hover {
  color: #d1d5db;
}

/* Centro do rodapé */
.footer-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Desenvolvedor no rodapé */
.footer-developer-mobile {
  display: none; 
}
.footer-developer {
  margin-top: 2rem;
  font-size: 13px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  width: 100%;
}

/* Contato no rodapé */
.footer-contact {
  text-align: left;
}

/* Título do contato no rodapé */
.footer-contact-title-text {
  font-family: 'Encode Sans Semi Expanded', sans-serif;
  font-weight: 800;
  font-size: 20px;
  color: #ffffff;
  margin-bottom: 1rem;
}

/* Texto do contato no rodapé */
.footer-contact p {
  margin: 0;
}

.footer-email {
  display: flex;
  flex-direction: row;
}

.footer-email p {
  width: 50px;
}

/* Media Queries para dispositivos móveis */
@media (max-width: 768px) {
  /* Ajusta o contêiner do rodapé para empilhar os elementos */
  .footer-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  /* Ajusta o tamanho da logo no rodapé */
  .footer-logo img {
    width: 200px;
    margin-bottom: 1rem;
  }

  /* Ajusta o texto no rodapé */
  .footer-text {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  /* Links no rodapé */
  .footer-links {
    margin-top: 1rem;
  }

  /* Ajusta o contato no rodapé */
  .footer-contact {
    text-align: center;
    margin-top: 1rem;
  }

  .footer-contact-title-text {
    font-size: 18px;
  }

  .footer-contact p {
    font-size: 14px;
  }

  /* Desenvolvedor no rodapé */
  .footer-developer-mobile {
    margin-top: 2rem;
    font-size: 13px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    width: 100%;
  }
  .footer-developer {
    display: none;
  }

  .footer-developer a {
    color: #ffffff;
    text-decoration: none;
    margin-left: 0.5rem;
  }

  .footer-developer a:hover {
    color: #d1d5db;
  }
}
