@import "tailwindcss";

/* Container principal da página */
.main-container {
  max-width: 72rem;
  margin: 0 auto;
  background-color: #ffffff;
}

/* Seção principal do herói */
.hero-section {
  position: relative;
}

/* Imagem de fundo da seção herói */
.hero-image {
  width: 100%;
  height: 500px;
  object-fit: cover;
  border-radius: 0.5rem;
}

/* Seção de recursos principais */
.key-features {
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 2rem;
  padding: 2.5rem;
  background-color: #f3f4f6;
}

/* Título da seção de recursos principais */
.section-title {
  text-align: center;
  margin-bottom: 1rem;
}

.section-title-text {
  font-family: "Encode Sans Semi Expanded", sans-serif;
  font-size: 2rem;
  font-weight: bold;
  color: #a39655;
}

/* Descrição da seção */
.section-description {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  color: #4b5563;
  line-height: 1.6;
  text-align: justify;
}

/* Contêiner para os cartões de recursos principais */
.key-features-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  margin-left: 20px;
}

/* Título principal da seção herói */
.hero-title {
  font-family: "Encode Sans Semi Expanded", sans-serif;
  font-size: 1.875rem;
  font-weight: bold;
  color: #a39655;
}

/* Cartão individual de recurso principal */
.key-feature-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 3rem 1.5rem;
  width: 300px;
  background-color: #ffffff;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1), 
              box-shadow 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

/* Efeito hover no cartão de recurso principal */
.key-feature-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

/* Ícone dentro do cartão de recurso principal */
.key-feature-icon {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
  width: 100px;
  height: 100px;
}

/* Título do cartão de recurso principal */
.key-feature-title {
  font-weight: bold;
  margin-bottom: 0.5rem;
  width: 60%;
}

/* Descrição do cartão de recurso principal */
.key-feature-description {
  color: #4b5563;
  width: 70%;
}

/* Seção de solicitação de orçamento */
.request-quote {
  text-align: center;
  padding: 2rem 0;
}

/* Botão de solicitação de orçamento */
.request-quote-button {
  font-family: "Encode Sans Semi Expanded", sans-serif;
  font-weight: 800;
  font-size: 20px;
  font-style: normal;
  background-color: #a39655;
  color: #ffffff;
  padding: 0.75rem 2rem;
  border-radius: 0.5rem;
  transition: background-color 0.5s;
}

/* Efeito hover no botão de solicitação de orçamento */
.request-quote-button:hover {
  background-color: #bbaf71;
  cursor: pointer;
}

/* Seção de serviços */
.services-section {
  padding: 2.5rem 0;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
}

/* Título da seção de serviços */
.services-section-title {
  text-align: center;
  margin-bottom: 2rem;
}

/* Contêiner para os cartões de serviços */
.services-section-cards {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
}

/* Cartão individual de serviço */
.service-card {
  display: flex;
  flex-direction: row;
  background-color: #ececea;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

/* Cartão de serviço com estilo reverso */
.service-card.reverse {
  flex-direction: row-reverse;
  background-color: #a39655;
}

/* Título do serviço no cartão reverso */
.service-card.reverse .service-title {
  color: #ffffff;
}

/* Descrição e link do serviço no cartão reverso */
.service-card.reverse .service-description, .service-card.reverse .service-link {
  color: #e5e5e3;
}

/* Imagem do serviço */
.service-image {
  width: 50%;
  object-fit: cover;
}

/* Conteúdo do serviço */
.service-content {
  padding: 6rem;
}

/* Título do serviço */
.service-title {
  font-family: "Share Bold OSF", sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
}

/* Descrição do serviço */
.service-description {
  font-family: 'Roboto', sans-serif;
  color: #4b5563;
}

/* Link do serviço */
.service-link {
  font-family: 'Roboto', sans-serif;
  color: #3c3c3c;
  font-weight: bold;
  margin-top: 1rem;
  display: inline-block;
  text-decoration: none;
}

/* Seção de turismo */
.tourist-section {
  padding-top: 2.5rem;
  background-color: #FFF;
}

/* Título da seção de turismo */
.tourist-title {
  font-family: "Encode Sans Semi Expanded", sans-serif;
  font-size: 1.875rem;
  font-weight: bold;
  color: #a39655;
  text-align: center;
  margin-bottom: 2rem;
}

/* Contêiner interno da seção de turismo */
.tourist-inner {
  width: 100%;
  position: relative;
}

/* Imagem da seção de turismo */
.tourist-image {
  width: 100%;
  height: 540px;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  object-fit: cover;
}

/* Sobreposição na seção de turismo */
.tourist-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 28%;
  background-color: rgba(0, 0, 0, 0.5);
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px;
  box-sizing: border-box;
  z-index: 2;
}

/* Descrição principal da seção de turismo */
.tourist-description {
  font-family: 'Encode Sans Semi Expanded', sans-serif;
  font-weight: 800;
  font-size: 50px;
  text-align: left;
  color: #e2c534;
  margin: 0;
}

/* Subdescrição da seção de turismo */
.tourist-subdescription {
  font-family: 'Times New Roman', sans-serif;
  font-size: 20px;
  text-align: left;
  color: #FFF;
  margin: 0.5rem 0 0;
}

/* Contêiner centralizado da seção de turismo */
.tourist-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* Contêiner do título dos serviços */
.service-title-container {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.values-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  font-family: 'Roboto', sans-serif;
  font-size: 1.125rem;
  color: #4b5563;
  text-align: center;
  padding-top: 2rem;
}

.value-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  gap: 2rem;
}

.value-title {
  font-family: "Encode Sans Semi Expanded", sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  color: #a39655;
}

.value-description {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  color: #4b5563;
  line-height: 1.6;
  width: 60%;
}

/* Media Queries para dispositivos móveis */
@media (max-width: 768px) {
  /* Container principal da página */
  .main-container {
    padding: 1rem; /* Adiciona padding para melhorar o espaçamento interno no mobile */
  }

  /* Seção principal do herói */
  .hero-section {
    padding: 1rem;
  }

  /* Imagem de fundo da seção herói */
  .hero-image {
    height: 200px; /* Reduz a altura no mobile */
  }

  /* Seção de recursos principais */
  .key-features {
    padding: 1rem; /* Reduz o padding no mobile */
    gap: 1rem; /* Reduz o espaçamento entre os itens */
  }

  .key-features-cards {
    grid-template-columns: 1fr; /* Exibe os cartões em uma única coluna */
  }

  .key-feature-card {
    width: 100%; /* Garante que os cartões ocupem toda a largura */
    padding: 1.5rem; /* Reduz o padding interno */
  }

  .key-feature-icon {
    width: 60px; /* Reduz o tamanho do ícone */
    height: 60px;
  }

  .key-feature-title {
    font-size: 1rem; /* Reduz o tamanho da fonte */
  }

  .key-feature-description {
    font-size: 0.875rem; /* Reduz o tamanho da fonte */
  }

  /* Seção de solicitação de orçamento */
  .request-quote {
    padding: 1rem 0; /* Reduz o padding no mobile */
  }

  .request-quote-button {
    font-size: 1rem; /* Ajusta o tamanho da fonte */
    padding: 0.5rem 1rem; /* Ajusta o padding interno */
  }

  /* Seção de serviços */
  .services-section {
    padding: 1rem 0; /* Reduz o padding no mobile */
  }

  .services-section-cards {
    grid-template-columns: 1fr; /* Exibe os cartões em uma única coluna */
    gap: 1rem; /* Adiciona espaçamento entre os cartões */
  }

  .service-card {
    flex-direction: column; /* Alinha os elementos verticalmente */
    text-align: center; /* Centraliza o texto */
  }

  .service-image {
    width: 100%; /* Garante que a imagem ocupe toda a largura */
    height: auto; /* Ajusta a altura automaticamente */
  }

  .service-content {
    padding: 1rem; /* Reduz o padding interno */
  }

  .service-title {
    font-size: 1.25rem; /* Ajusta o tamanho da fonte */
  }

  .service-description {
    font-size: 0.875rem; /* Ajusta o tamanho da fonte */
  }

  .service-link {
    font-size: 0.875rem; /* Ajusta o tamanho da fonte */
  }

  /* Seção de turismo */
  .tourist-section {
    padding: 1rem 0; /* Reduz o padding no mobile */
  }

  .tourist-image {
    height: 200px; /* Reduz a altura no mobile */
  }

  .tourist-overlay {
    padding: 0.5rem; /* Reduz o padding interno */
  }

  .tourist-description {
    font-size: 1.25rem; /* Reduz o tamanho da fonte */
    text-align: center; /* Centraliza o texto */
  }

  .tourist-subdescription {
    font-size: 0.875rem; /* Reduz o tamanho da fonte */
    text-align: center; /* Centraliza o texto */
  }

  /* Valores */
  .values-list {
    gap: 1rem; /* Reduz o espaçamento entre os itens */
    font-size: 0.875rem; /* Ajusta o tamanho da fonte */
  }

  .value-item {
    gap: 1rem; /* Reduz o espaçamento interno */
  }

  .value-title {
    font-size: 1.25rem; /* Ajusta o tamanho da fonte */
  }

  .value-description {
    font-size: 0.875rem; /* Ajusta o tamanho da fonte */
    width: 100%; /* Garante que ocupe toda a largura */
  }
}